#background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

.main-container {
    position: absolute;
    width: 100%;
}

.GOT-logo {
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
}

#logo {
    position: relative;
    width: 60%;
    margin: auto;
    max-width: 650px;
}

.timer {
    text-align: center;
    font-size: 46px;
    color: #FEFEFE;
    text-shadow: 4px 4px 2px black;
    margin-bottom: 10px;

}

.qa-container {
    visibility: hidden;
    position: relative;
    text-align: center;
    color: #FEFEFE;
    text-shadow: 4px 4px 2px black;
    font-size: 28px;
    width: 50%;
    height: 300px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.question {
    position: relative;
    text-align: center;
    /* background-color: lightgray; */
    height: 150px;
    width: 100%;
}

.answers {
    position: relative;
    text-align: center;
    /* background-color: darkgray; */
    height: 150px;
    width: 100%;
}

.button {
    width: 150px;
    margin: auto;
}

#start {
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: #848A8C;
    border-radius: 12px;
    color: #FCFCFC;
    box-shadow: 5px 10px 8px #3A3A3A;
}